<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_tissLoteGuias_PortType" messageEncoding="Mtom" />
                <binding name="BasicHttpBinding_tissLoteGuias_PortType1" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mga-apl039/QualidadeAgWeb/NonAuthenticatedServiceHost/tissLoteGuiasV3_02_02.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_tissLoteGuias_PortType"
                contract="tissLoteGuiasV3_02_02.tissLoteGuias_PortType" name="BasicHttpBinding_tissLoteGuias_PortType" />
            <endpoint address="http://mga-apl039/QualidadeAgWeb/NonAuthenticatedServiceHost/tissLoteGuiasV3_03_02.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_tissLoteGuias_PortType1"
                contract="tissLoteGuiasV3_03_02.tissLoteGuias_PortType" name="BasicHttpBinding_tissLoteGuias_PortType1" />
        </client>
    </system.serviceModel>
</configuration>