<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Benner.Tecnologia.Business.Test.dll" version="16.0.52.2" targetFramework="net461" />
  <package id="Benner.Tecnologia.Common2.dll" version="16.0.67.14" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net452" />
  <package id="NSubstitute" version="2.0.3" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
</packages>